* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
}

#titulo_index, #titulo_moba, #titulo_mmorpg, #titulo_fps, #titulo_cardgames {
    font-size: 50px;
    text-align: center;
}


nav {
    text-align: center; 
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
}

nav li {
    display: inline-block; 
    margin-right: 10px; 
}

nav a {
    text-decoration: none; 
    padding: 5px 10px; 
    border: 1px solid #333;
    background-color: #333; 
    color: #fff; 
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.conteudo_lol_dota {
    display: flex;
    align-items: center;
}

.texto_lol_dota {
    flex: 1;
    padding: 10px;
}

.imagem_lol_dota {
    flex: 1;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 12%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left; 
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #000000;
    padding: 10px;
    text-align: center;
  }
